$menu-gold: #8b542f;
$menu-yellow: #faaf18;

.step-wrapper {
  margin: 0 0 20px;
  display: table;
  width: 100%;
  .item {
    padding: 12px 12px 10px;
    width: 33.33333%;
    float: left;
    font: 21px/20px "Flame-Regular";
    text-align: center;
    color: #c5a997;
    background-color: #fcebd9;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    &.active {
      background-color: $menu-yellow;
      color: $menu-gold;
      & span {
        background-color: $menu-gold;
      }
      &:before {
        content: '';
        width: 32px;
        height: 32px;
        position: absolute;
        right: -16px;
        top: 6px;
        transform: rotate(45deg);
        background: $menu-yellow;
        border-radius: 2px 5px 2px 0;
        z-index: 2;
      }
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
      &.active {
        background-color: $menu-yellow;
        color: $menu-gold;
        & span {
          background-color: $menu-gold;
        }
        &:before {
          display: none;
        }
      }
    }
    & span {
      font-size: 13px;
      border-radius: 50%;
      color: white;
      background-color: #c5a997;
      padding: 5px 8px;
      margin-right: 5px;
    }
  }
}